header {
   background: $dark-blue;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: $s-size;
    align-items: center;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}